:root {
  /* Primary */
  --color-Purple-600: hsl(246, 80%, 60%);
  --color-Orange-300: hsl(15, 100%, 70%);
  --color-Blue-300: hsl(195, 74%, 62%);
  --color-pink-400: hsl(348, 100%, 68%);
  --color-Green-400: hsl(145, 58%, 55%);
  --color-purple-700: hsl(264, 64%, 52%);
  --color-Yellow-300: hsl(43, 84%, 65%);
  /* ### Neutral */
  --color-Navy-950: hsl(226, 43%, 10%);
  --color-Navy-900: hsl(235, 46%, 20%);
  --color-Purple-500: hsl(235, 45%, 61%);
  --color-Navy-200: hsl(236, 100%, 87%);
  --color-white: #fafafa;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 62.5%;
}
body {
  /* height: 100svh; */
  min-height: 100svh;
  background-color: var(--color-Navy-950);
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.container {
  max-width: 30rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}
.user-section {
  background-color: var(--color-Navy-900);
  border-radius: 2rem;
}
.user-photo {
  width: 25%;
  border: 3px solid var(--color-white);
  border-radius: 50%;
}
.user {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
  background-color: var(--color-Purple-600);
  border-radius: 2rem;
}
.user-name {
  font-size: 2.4rem;
  font-weight: 300;
}
.user-action {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.btn-action {
  padding: 0.6rem 1rem;
  background: none;
  border: none;
  color: var(--color-Purple-500);
  font-size: 1.6rem;
  transition: color 0.3s;
}
.btn-action:hover {
  color: var(--color-white);
}
.btn-action.active {
  color: var(--color-white);
}
.card-work {
  border-radius: 2rem;
  background: var(--color-Orange-300) url("./images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden;
}
.card-play {
  border-radius: 2rem;
  background: var(--color-Blue-300) url("./images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden;
}
.card-study {
  border-radius: 2rem;
  background: var(--color-pink-400) url("./images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden;
}
.card-exercise {
  border-radius: 2rem;
  background: var(--color-Green-400) url("./images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden;
}
.card-social {
  border-radius: 2rem;
  background: var(--color-purple-700) url("./images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden;
}
.card-selfcare {
  border-radius: 2rem;
  background: var(--color-Yellow-300) url("./images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden;
}
.card-info {
  margin-top: 15%;
  height: 100%;
  padding: 2rem;
  background-color: var(--color-Navy-900);
}
.timeframe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}
.prev-time {
  color: var(--color-Purple-500);
}
.total-time {
  font-size: 3rem;
  font-weight: 300;
}

@media (min-width: 600px) {
  .container {
    max-width: 60rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .user-section {
    grid-column: 1 / span 3;
  }
  .user-action {
    grid-column: 1 / span 3;
  }
  .user {
    display: flex;
    align-items: center;
  }
  .user-photo {
    width: 15%;
    margin-bottom: 1rem;
  }
  .user-name {
    font-size: 3.6rem;
    font-weight: 300;
  }
  .user-action {
    justify-content: center;
  }
  .card-info {
    margin-top: 25%;
  }
  .card-title {
    margin-bottom: 1.6rem;
  }
  .timeframe {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
  }
  .prev-time {
    font-size: 1.2rem;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 100rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .user-section {
    grid-row: 1 / span 2;
    grid-column: auto;
  }
  .user {
    aspect-ratio: 3/4;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .user-photo {
    width: 40%;
  }
  .user-action {
    grid-column: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
  }
  .total-time {
    font-size: 4rem;
  }
  .prev-time {
    font-size: 1.4rem;
  }
}
